<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Welcome to the Movie Database</h1>
    <h2>Movies by Director</h2>

    <% for (const director in movieList) { %>
    <h3><%= director %></h3>
    <ul>
      <% movieList[director].forEach(movie => { %>
      <li>
        <a href="/movies/<%= movie.id %>"><%= movie.title %></a> - <%=
        movie.year %> (<%= movie.genre %>)
      </li>
      <% }) %>
    </ul>
    <% } %>

    <a href="/movies/new">Add New Movie</a>
  </body>
</html>
